<section>
	<div class="about-lockup">
		<h3 id="about-anchor">About Us</h3>
		
		<div class="face-img"></div>

		<div class="yt-lockup">
			<a href="https://www.youtube.com/user/TheNaughtyArts"><span>YouTube</span></a>
		</div>

		<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Ut fermentum ornare elit quis consequat. Vestibulum pellentesque varius arcu, eget viverra urna laoreet eget. Aliquam iaculis aliquet magna, at facilisis quam viverra sed. Integer ut lorem sodales sapien iaculis rutrum. Duis malesuada ligula eget urna ultricies finibus.</p>
	</div>
</section>